<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>MEDCourse</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stats.css">
</head>
<body>
<header>
    <a href="/"><h1 class="logo">MEDCourse</h1></a>
    <h1 id="infotitle"><%= district.toString().charAt(0).toUpperCase() + district.toString().slice(1) %></h1>
</header>

<footer>
    <div id="prognosed"><p></p></div>

    <div class="disease">
        <select name="disease" id="disease_select"
                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value)">
            <% diseasesNames.forEach(function (disease) { %>
                <option value="<%- disease == name ? "" : "?disease=" + disease %>"
                        <%= disease == name ? "selected=\"\"" : "" %>><%= disease %></option>
            <% }) %>
        </select>
    </div>

    <a href="/"><img class="marker-first" src="/images/marker.svg" alt="Первая страница"></a>
    <img class="marker-second" src="/images/marker.svg" alt="Вторая страница">
    <a href="/info<%= name !== 'ВИЧ'
            ? '?disease=' + encodeURIComponent(name)
            : '' %>"><img class="marker-third" src="/images/marker.svg" alt="Третья страница"></a>
    <img class="marker-fill" src="/images/fill-marker.svg">
</footer>

<section class="years">
    <% if (yearPast != -1) { %>
        <div>
            <a href="?district=<%= district %>&disease=<%= name %>&year=<%= yearPast %>">
                <div class="year-back"><p><%= yearPast %></p></div>
            </a>
        </div>
    <% } %>
    <div>
        <a href="">
            <div class="year-now"><p><%= yearNow %></p></div>
        </a>
    </div>
    <% if (yearFuture != -1) { %>
        <div>
            <a href="?district=<%= district %>&disease=<%= name %>&year=<%= yearFuture %>">
                <div class="year-next"><p><%= yearFuture %></p></div>
            </a>
        </div>
    <% } %>
</section>

<% let dataNow = data.data.filter(function (entry) { %>
<%    return entry.diseaseID.year == yearNow; %>
<% }) %>

<section class="stats">
    <section class="first">
        <div id="percent"><p><%= dataNow.rel %>></p></div>
        <div id="percent-text"><p>На 100 тысяч человек населения</p></div>
    </section>
    <section class="second">
        <div id="count"><p><%= dataNow.abs %>></p></div>
        <div id="count-text"><p>Зарегестрировано заболеваний</p></div>
    </section>
    <section class="third">
        <div id="alt-count"><p><%= dataNow.abs_child !== null ? dataNow.abs_child : "Нет данных" %></p></div>
        <div id="alt-count-text"><p>Из них дети от 0 до 17 лет</p></div>
    </section>
    <section class="fourth">
        <div id="alt-percent"><p><%= dataNow.rel_child !== null ? dataNow.rel_child : "Нет данных" %></p></div>
        <div id="alt-percent-text"><p>На 100 тысяч человек населения (детей)</p></div>
    </section>
    <object id="circle" data="" type="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <canvas id="canvas" width="540" height="505"></canvas>
        <script type="text/javascript" src="/javascripts/circle.js"></script>
    </object>
    <a href="/info<%= name !== 'ВИЧ'
            ? '?disease=' + encodeURIComponent(name)
            : '' %>"><img class="button-next" src="/images/button.svg" alt="Следующая страница"></a>
    <a href="/"><img class="button-back" src="/images/button.svg" alt="Предыдущая страница"></a>
</section>
</body>